<h1>Feed</h1>
      <!-- Bejegyzések -->
      <mat-card class="post" 
        *ngFor="let post of posts;"
        hideToggle
      >
        <mat-card-title>{{ post.user }}</mat-card-title>
        <mat-card-content>{{post.content}}</mat-card-content>
        <mat-card-subtitle *ngFor="let label of post.labels"> 
          {{label}} 
        </mat-card-subtitle>
        <mat-accordion>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title> Comments </mat-panel-title>
            </mat-expansion-panel-header>
            <p *ngFor="let comment of post.comments">
              {{comment}}
            </p>
          </mat-expansion-panel>
        </mat-accordion>
        <mat-card-actions>
          <button mat-raised-button color="primary">Comment</button>
        </mat-card-actions>
      </mat-card>